{% extends 'base.html' %}

{% block head %}


<link href="static/css/login.css" rel="stylesheet">

<script src="static/js/particle.js" type="text/javascript"></script>

{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navscroll">
        <a class="navbar-brand" href="#">ShopLifters</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div id="particles-js" style="height: 100%; width: 100%; position: absolute; background-size: cover; min-height: 100%; background-attachment: fixed;"></div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto" style="margin-top: 150px;">
        <div class="card bg-secondary mb-5">
          <h3 class="card-header" style="align-items: center; font-family: lato; color:ivory position: relative; text-align: center;">LOGIN</h3>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <form action="" method="POST" novalidate>
                      {{ form.hidden_tag() }}
                    <div class="form-group" id="sname" style="font-family: lato; font-size: 1em; color: black">
                      {{ form.company_name.label }}
                      <br>
                      {{ form.company_name }}
                      {% for error in form.company_name.errors %}
                         <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </div>
                    <div class="form-group" style="font-family: lato; font-size: 1em; color: black">
                      {{ form.password.label }}<br>
                      {{ form.password }}
                      {% for error in form.password.errors %}
                          <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </div>
                    <div class="form-group form-check">
                      {{ form.remember_me }}
                      {{ form.remember_me.label }}
                    </div>
                    {{ form.submit() }}
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<link href="static/css/login.css" rel="stylesheet">

<script src="static/js/particle.js" type="text/javascript"></script>

{% endblock %}